.page-header
  - if @message.draft?
    = link_to 'Edit', edit_message_path, class: 'pull-right btn btn-default'

  %h1 Message

%table.table.message
  %tr
    %th To
    %td=@message.to
  %tr
    %th Subject
    %td= @message.subject
  %tr
    %th Body
    %td= simple_format @message.body

  - if @message.has_attachment?
    %tr
      %th Attachment
      %td= link_to @message.attachment.identifier, @message.attachment.url
